* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  padding: 10px;
  font-family: Roboto;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-container {
  display: flex;
  padding: 10px;
  overflow-x: auto;
  margin-bottom: 0px;
  position: sticky;
  top: 10vh;
  background-color: white;
}
.tab-container::-webkit-scrollbar {
  height: 5px;
}
.tab-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tab-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}
